@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.title {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;

  img {
    display: inline;
    width: 64px;
    height: 64px;
  }

  &__name {
    font-size: 30px;
    display: inline;
    padding-left: 20px;
  }
}

@include breakpoint-sm {
  .title {
    img {
      width: 128px;
      height: 128px;  
    }

    &__name {
      font-size: 50px;
      padding-left: 25px;
    }  
  }
}